version: '3.8'

services:

  whapi:
    build: .
    restart: always
    ports:
      - 5000:5000
    depends_on:
      - postgres

  postgres:
    container_name: postgres_container
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    restart: unless-stopped